.landing_page {
    font-family: inter, sans-serif;
    align-items: center;
    background-color: #405EA8;
}

.button_masuk {
    font-family: Work Sans, sans-serif;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    align-items: center;
    color: white;
    background-color: #405EA8;
    height: 38px;
    width: 325px;
    border-radius: 8px;
    margin-left: 20px;
}